<%include header%>

<body>
        <%include navbar%>
        <div class="container">
                <div class="content-wrapper mt-3">
                
                <% json.results.books.forEach((book)=>{ %>
                    
                    <div class="col-sm">
                        <h1 class="book-info">Book Rank: <%=book.rank%></h1>
                        <!-- <p class="book-info"><%=//book.book_image%></p> -->
                        <img src="<%=book.book_image%>" class="book-image">
                        <p><a href ="<%=book.amazon_product_url%>"class="book-info"><%=book.title%></a></p>
                        <p class="book-text">Synopsis - <%=book.description%></p>
                        <p class="book-info"></p>
                        <p class="book-info"></p>
                        <p class="book-info"></p>
                        <p class="book-info"></p>
                </div>
                <% }) %>
            <%=//JSON.stringify(json)%>
            </div>  
        </div>
        </body>
        <%include footer%>                   
                        
              